* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: var(--grey);
  height: fit-content;
}

/* Declaring global colour variables from "ferrari-palette"to avoid retyping hex codes  */
:root {
  --yellow: #ddbc17;
  --racing-red: #f60000;
  --crimson: #bd0000;
  --grey: #343330;
  --black: #181715;
}

/* adding media query for screen width below 650px altering standard font-size which should update other fint sizes via rem.*/
@media screen and (max-width: 650px) {
  * {
    font-size: 10px;
  }
}

/*adding font for logo*/
@font-face {
  font-family: ferroRosso;
  src: url("assets/ferro_rosso/FerroRosso.ttf");
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}

.logo {
  color: whitesmoke;
  font-size: 3rem;
  font-family: ferroRosso;
  padding: 1rem;
}


body {
  /* removing overflow due to hamburger bar positioning  */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}


body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
}
/* Hamburger menu from: https://alvarotrigo.com/blog/hamburger-menu-css/ */
label .menu {
  position: absolute;
  right: -6.25rem;
  top: -6.25rem;
  z-index: 100;
  width: 12.5rem;
  height: 12.5rem;
  background: var(--crimson);
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 var(--crimson), 0 0 0 0 var(--crimson);
  cursor: pointer;
}

/* middle hamburger line */
label .hamburger {
  position: absolute;
  top: 8.4375rem;
  left: 3.125rem;
  width: 1.875rem;
  height: 0.125rem;
  background: whitesmoke;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

/* upper and lower hamburger line */
label .hamburger:after,
label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

label .hamburger:before {
  top: -0.625rem;
}

label .hamburger:after {
  bottom: -0.625rem;
}

label input {
  display: none;
}

/* hamburger: onClick */
label input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--crimson), 0 0 0 100vh var(--crimson);
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
  visibility: visible;
}


label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  font-size: 1.3rem;
  font-weight: bolder;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: whitesmoke;
  text-decoration: none;
}
/* Grown on hover from: https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.3);
}

/* Style rules for nav items and nav  */
.nav {
  background-color: transparent;
}
.nav-item {
  background-color: transparent;
}

/* style rules for sections */
.section {
  height: fit-content;
  padding: 4 rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* adding style rules for h1 children of divs  */
div h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

/* adding styles for contact form  */
.contact-form {
  height: 80h;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: var(--black);
  border-radius: 0.25rem;
  /* background-color: var(--crimson); */
  padding: 1rem;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 1rem; 
  border: 0.2rem solid #ccc; 
  border-radius: 0.25rem; 
  box-sizing: border-box; 
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 1rem; 
  resize: vertical 
}

input[type=submit] {
  background-color: var(--yellow);
  color: whitesmoke;
  height: 3rem;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 1rem; 
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  width: 100%;

}

/* /* adding hover effect for submit  */
input[type=submit]:hover {
  background-color: green;
}

#origin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* styling images  */
.image {
  width: 50%;
  height: 30px;
  margin: 3rem;
}

/* adding style for quick fire facts  */
#facts {
  font-size: 2rem;
  font-weight: bolder;
}