* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: whitesmoke;
  font-size: 16px;
}

/*adding font for logo*/
@font-face {
  font-family: ferroRosso;
  src: url("assets/ferro_rosso/FerroRosso.ttf");
}

/*adding fixed positioning on page for logo */
header .logo {
  position: absolute;
  font-size: 3rem;
  color: whitesmoke;
  font-family: ferroRosso;
  width: auto;
}

/* Declaring global colour variables from "ferrari-palette"to avoid retyping hex codes  */
:root {
  --yellow: #ddbc17;
  --racing-red: #f60000;
  --crimson: #bd0000;
  --grey: #343330;
  --black: #181715;
}


/* adding scrolling features to overall parent container. Reference: Full Page Scroll Tutorial */
.container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* creating style rules for child sections */
section {
  /* Making section heights equal to 100% of view height to create full screen scroll effect. */
  height: 100vh;
  /* using flex to create responsive positioning for content */
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* CSS for welcome page */
.welcome {
  background-color: var(--crimson);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  
}
.welcome h1 {
  font-size: 2rem;
}
.welcome h3 {
  font-size: 1.5rem;
  width: 70%;
}

.two {
  background-color: var(--grey);
}

.three {
  background-color: var(--yellow);
}

.four {
  background-color: var(--black);
}
