* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: var(--grey);
  height: fit-content;
}

/* Declaring global colour variables from "ferrari-palette"to avoid retyping hex codes  */
:root {
  --yellow: #ddbc17;
  --racing-red: #f60000;
  --crimson: #bd0000;
  --grey: #343330;
  --black: #181715;
}

/* adding media query for screen width below 650px altering standard font-size which should update other fint sizes via rem.*/
@media screen and (max-width: 700px) {
  * {
    font-size: 10px;
  }
}

/*adding font for logo*/
@font-face {
  font-family: ferroRosso;
  src: url("assets/ferro_rosso/FerroRosso.ttf");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}



.logo {
  color: whitesmoke;
  font-size: 3rem;
  font-family: ferroRosso;
  padding: 1rem;
}

body {
  /* removing overflow due to hamburger bar positioning  */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
}

a {
  margin-bottom: 1em;
  display: block;
  color: whitesmoke;
  text-decoration: none;
}
/* Grown on hover from: https://travis.media/how-to-make-an-item-grow-on-hover-with-css/ */
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.3);
}

/* Style rules for nav items and nav  */
.nav {
  background-color: transparent;
}
.nav-item {
  background-color: transparent;
}

/* style rules for sections */
.section {
  height: fit-content;
  padding: 4rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* adding style rules for h1 children of divs  */
div h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}

/* adding styles for contact form  */
.contact-form {
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: var(--black);
  border-radius: 0.25rem;
  /* background-color: var(--crimson); */
  padding: 1rem;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 1rem;
  border: 0.2rem solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--yellow);
  color: whitesmoke;
  height: 3rem;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
}

/* /* adding hover effect for submit  */
input[type="submit"]:hover {
  background-color: green;
}

#origin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* styling images  */
.image {
  width: 100%;
  height: auto;
  margin: 3rem;
}

/* adding style for quick fire facts  */
#facts {
  font-size: 2rem;
  font-weight: bolder;
  padding: 3rem;
}
